.magic{
    height: 10px;
   
}
.line {
    margin-top: 40px;
    width: auto;
    height: 4px;
    background: rgb(0, 0, 0);
    border: 0;
}
h1{    
   
    margin-left: 50%;
    margin-top: -20px;
    width: 100px;
    padding-left: 5px;
    height: auto;
    background-color: #ffff;
}