a:visited a:link{
    color: #3A681A;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #5CA22E;
}
a:active a:hover a:visited a:link{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #DC0000;
}
.pole {
     width: 95px;
}
.pole2 .pole{ 
    border: 1px solid green; 
    font-size: 11px; 
    background-color: #E7F2D7; height: 17px;
}